/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

:root {
  --light-green: rgba(126, 213, 111, 0.8);
  --medium-green: rgba(85, 197, 122, 1);
  --dark-green: rgba(40, 180, 133, 0.8);
  --grey: rgba(119, 119, 119, 1);
}

*,
*::before,
*::after {
  /* BASIC RESET */
  margin: 0;
  padding: 0;
  
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: var(--grey);

  padding: 3rem;

  box-sizing: border-box;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      var(--light-green),
      var(--dark-green)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  /* CLIPPING */
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.logo {
  height: 3.5rem;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;

  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.2rem;

  /*animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; */
  /* SHORTHAND */
  animation: fadeInLeft 1s ease-out;
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1.2rem;

  /* animation-name: fadeInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; */
  /* SHORTHAND */
  animation: fadeInRight 1s ease-out;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  75% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  75% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottomToTop {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  75% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn:link,
.btn:visited {

  font-size: 1.6rem;

  text-transform: uppercase;
  text-decoration: none;

  padding: 1.5rem 4rem;

  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;

  position: relative;
}

.btn:hover {
  transform: translateY(-.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-.1rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.4);
}

.btn-white {
  background: #fff;
  color: var(--grey);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  transition: all 0.6s;
}

.btn-white::after {
  background: #fff;
}

.btn:hover::after {
  transform: scale(1.2) scale(1.3);
  opacity: 0;
}

.btn-animated {
  animation: fadeInBottomToTop 1s ease-out 0.75s;
  animation-fill-mode: backwards;
}
